/* Reset CSS */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, button, input, a {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-shadow: none;
    list-style: none;
    text-decoration: none;
}

button:focus, input:focus {
    outline: none;
}

button, input {
    border: none;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('IMG_20250114_111552_356.jpg'); /* Замените на путь к вашему изображению */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(2px);
}

.container {
    text-align: center;
    background-color: transparent; /* Контейнер прозрачный */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
}

.counter {
    font-size: 4em;
    margin-bottom: 20px;
}

#click-button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #4caf50; /* Зеленый непрозрачный */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#click-button:hover {
    background-color: #367c39; /* Темно-зеленый непрозрачный */
}

.upgrades {
    margin-top: 30px;
    text-align: left;
}

.upgrade-item {
    background-color: #f9f9f9; /* Непрозрачный светло-серый */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upgrade-item button {
    background-color: #2196F3; /* Синий непрозрачный */
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upgrade-item button:hover {
    background-color: #1976D2; /* Темно-синий непрозрачный */
}

#message {
    margin-top: 10px;
    font-weight: bold;
   color: black; /* Непрозрачный черный */
}

#prestige-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ff9800; /* Оранжевый непрозрачный */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

#prestige-button:hover {
    background-color: #e68a00; /* Темно-оранжевый непрозрачный */
}

.prestige-level {
    margin-top: 10px;
   color: black; /* Непрозрачный черный */
}

#achievements {
    margin-top: 10px;
    font-weight: bold;
   color: black; /* Непрозрачный черный */
}

#reset-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #f44336; /* Красный непрозрачный */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

#reset-button:hover {
    background-color: #d32f2f; /* Темно-красный непрозрачный */
    }
